// .example-container {
//     width: 200px;
//     height: auto;
//     margin: 10px;
//     border: 1px solid black;
//   }
//   .drawer{
//     background-color: gray;
//   }
  .sidenavs{
    width: 150px;
    background-color: lightcoral;
    
  }
  mat-toolbar{
    background-color: lightcoral;
  }
  .format{
    font-size: large;
    font-weight: bold;
  }
//   .sidenav {
//     top: 86px;
//     position: fixed;
//     width: 100%;
//     z-index: 1099;
// }
