// .center {
//     display:block;
//     margin-left: 30%;
//     margin-right: auto;
//     width: 80%;
//   }
  form{
    margin-left: 15%;
  }
  // table{
  //   margin-left: 48%;
  //   border: 1px solid black;
  // }
  h1{
    text-align: center;
  }
  table{
    border:2px solid black;
  }
  